@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --placeholder-color: #1717175c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(8%2c 25%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c341.012C66.536%2c337.472%2c130.574%2c325.386%2c190.811%2c296.908C258.015%2c265.136%2c331.247%2c232.785%2c366.897%2c167.556C403.323%2c100.907%2c398.795%2c19.24%2c383.194%2c-55.095C368.223%2c-126.43%2c335.052%2c-194.665%2c280.688%2c-243.218C229.581%2c-288.862%2c159.2%2c-299.395%2c92.428%2c-314.781C29.428%2c-329.297%2c-32.673%2c-337.03%2c-96.966%2c-330.236C-172.924%2c-322.21%2c-257.794%2c-323.857%2c-313.746%2c-271.862C-370.872%2c-218.776%2c-382.42%2c-133.749%2c-391.726%2c-56.322C-400.866%2c19.725%2c-400.833%2c98.906%2c-366.539%2c167.393C-332.827%2c234.718%2c-272.368%2c285.7%2c-204.322%2c317.932C-141.099%2c347.879%2c-69.858%2c344.729%2c0%2c341.012' fill='%23061422'%3e%3c/path%3e%3cpath d='M1440 987.379C1518.974 984.095 1580.55 924.894 1647.474 882.836 1715.1390000000001 840.312 1794.6970000000001 809.5360000000001 1833.851 739.866 1874.266 667.952 1881.7350000000001 579.527 1863.092 499.168 1845.191 422.004 1793.313 357.523 1733.187 305.952 1678.596 259.128 1610.511 232.195 1539.387 221.519 1474.521 211.78199999999998 1412.163 232.618 1348.4470000000001 248.199 1281.508 264.568 1205.846 266.141 1157.224 314.974 1107.7 364.71299999999997 1105.474 441.372 1088.336 509.438 1069.114 585.778 1025.463 663.21 1050.7730000000001 737.754 1076.549 813.671 1153.6480000000001 857.281 1221.134 900.562 1288.566 943.808 1359.961 990.707 1440 987.379' fill='%230a1e32'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles für Placeholder-Texte */
::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7;
}
